.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tiles-wrapper{
  text-align: left;
}

.tile {
  flex-basis: calc(250px - 10px); /* Adjust 10px to your desired gap */
  margin: 5px; /* Half of the gap on all sides */
  /* Additional styles for your tiles */
}
@media (max-width: 600px) {
  .tile {
    flex-basis: calc(50% - 10px);
  }
}


.products{
  margin-top: -30%;
}
.filter{
  margin-left: 11px;
}
.custom-select{
  height: 40px;
  width: 140px;
  text-align: center;
  margin-left: 35px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-select2{
  height: 40px;
  width: 140px;
  text-align: center;
  margin-left: 180px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-select3{
  height: 40px;
  width: 140px;
  text-align: center;
  margin-left: 35px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

