.hero{
    height: 100vh;
    background: white;
    display: flex;

}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20 px;
    padding-left: 180px;
    line-height: 1.1;

}

.hero-left h2{
    color: black;
    font-size: 24px;
    font-weight: 400;
}

.hero-left p{
    color: black;
    font-size: 100px;
    font-weight: 300;

}

hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: red;
    color: white;
    font-size: 22px;
    font-weight: 500;

}
