.hero{
    height: 100vh;
    width: 100hv;
    background: white;
    display: flex;

}

.hero-latest-btn{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100px;
    height: 35px;
    border-radius: 75px;
    margin-top: 240px;
    margin-left: 640px;
    background: #bdbdbd;;
    color: white;
    font-size: 16px;
    font-weight: 600;

}

.hero-right{ 
    /* for div */
    display: flex;
    height: 300px;
    width: 100%;

}

.hero-right2{
    /* for the img  */
    display: flex;
    height: 300px;
    width: 100%;
    margin: 10px;

}