/* Tile.css */
.tile {
    text-align: center;
    margin-bottom: none;
  }

  .tile-info{
    border: 1px solid white;
    margin: 20px;
    margin-top: -1px;
    max-width: 300px;
    text-align: left;

  }

  .tile-name{


  }

  .tile-price{
    margin-top: -10px;

  }

  .tile-size{
    margin-top: -10px;

  }

  .tile-date{
    margin-top: -13px;

  }