/* Tile.css */
.tile {
    text-align: center;
    margin-bottom: none;
  }
  .tile:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Different shadow on hover */
  }
  

  .tile-info{
    border: 1px solid white;
    padding: 20px;
    /*margin-top: -1px;*/
    max-width: 300px;
    text-align: left;

  }

  .tile-name{
    font-weight: 600px;


  }

  .tile-price{
    margin-top: -10px;
    font-weight: 900px;

  }

  .tile-size{
    margin-top: -10px;

  }

  .tile-date{
    margin-top: -13px;
    

  }
  .tile-img{
    margin-top: 20px;
  }