.search{
    position: absolute;
    top: 17px; 
    left: 210px;
    border: none;
    width: 69%;
    height: 35px;
    border-radius: 75px;
    box-shadow: none;
    text-align: left;
    padding: 0 20px; 
    font-size: 14px;
    font-weight: 500;
    background: #e7e7e7;
    cursor: pointer;
  }

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-text {
  margin-top: 100px; /* Adjust this value as needed to move the text down */
  font-weight: bold;
  font-size: 30px;
}

.cart-text2 {
  margin-top: 40px; /* Adjust this value as needed to move the text down */
  font-weight: bold;
  font-size: 18px;
}

.image img{
  margin: 0; /* Reset default margin */
  position: absolute; /* Use absolute positioning */
  top: 50%; /* Position at 50% from the top */
  left: 50%; /* Position at 50% from the left */
  transform: translate(-40%, -50%); /* Offset the image by half of its width and height to center it */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  max-height: 100px;
}