.search{
    position: absolute;
    top: 17px; 
    left: 210px;
    border: none;
    width: 69%;
    height: 35px;
    border-radius: 75px;
    box-shadow: none;
    text-align: left;
    padding: 0 20px; 
    font-size: 14px;
    font-weight: 500;
    background: #e7e7e7;
    cursor: pointer;
  }
.loginsignup{
    width: 100%;
    height: 80vh;
    background: white;
    padding-top: 0px;
    padding-bottom: 100px;
}
.loginsignup-container{
    width: 500px;
    height: 600px;
    background: white;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
    padding: 40px 60px;
}
.loginsignup-toptext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginsignup-toptext h1 {
    font-size: 32px;
}
.loginsignup-toptext h3{
    font-size: 22px;
    font-weight: normal;
    margin: 0px;
}
.loginsignup-container h1{
    margin: 10px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0px;
}
.loginsignup-fields input{
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    border-radius: 10px;
    margin-top: -25px;
}
.loginsignup-fields h4{
    font-size: 18px;
    font-weight: normal;
}
.loginsignup-container button{
    height: 40px;
    width: 105%;
    padding-left: 20px;
    color: white;
    background: #0f6fde;
    margin-top: 20px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #0f6fde;
    font-weight: 500;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap: 20px;
    font-size: 16px;
    font-weight: normal;
}