.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6px;
    box-shadow: 0 1px 3px -2px black; 
}
.nav-siteName button{
    color: #862F83;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 10px;
    margin-left: 5px;
    background: white;
    border: none;

}
.nav-siteName button:hover{
    cursor: pointer;
}

.nav-divider{
    border: none;
    border-top: 1px solid white;
    width: 100;
}
.nav-menu{
    display: flex;
    align-items: right;
    margin-left: 450px;
    list-style: none;
    gap: 15px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: -25px;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    color: black;
}

.nav-signup-cart{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 1260px;
    margin-right: 5px;
    transform: translateY(-34.5px); /* Adjust the value as needed */
}

.nav-signup-cart button{
    margin-top: 5px;
    width: 85px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 75px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    background: #d9d9d9;
    cursor: pointer;

}

.nav-signup-cart button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.nav-signup-cart button:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.favorites{
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    border-radius: 20px;
}
.favorites:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.favorites:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.cart{
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    border-radius: 20px;
}
.cart:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.cart:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.nav-signup-cart img{
    width: 2%;
    height: 100%;

}

.nav-signup-cart input{
    margin-top: 9px;
    margin-right: 5px;
    width: 2950px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 75px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    background: #e7e7e7;
    cursor: pointer;

}



.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: gray;
    

}

.search-input{
    padding-left: 20px;

}

.nav-menu a {
    color: #862F83; /* Sets the text color to black */
    /* Other styles can go here */
    margin-top: 7px;
  }
  
  /* Optional: If you want to remove the underline from links */
  .nav-menu a {
    text-decoration: none; /* Removes the underline */
  }
  
  /* Optional: If you want to change the color when hovering */
  .nav-menu a:hover {
    color: black; /* Replace with your desired hover color */
  }
  

  @media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu {
        margin-left: 0;
    }

    .nav-signup-cart {
        margin-left: 0;
        transform: translateY(0);
    }
    .nav-siteName button{
        margin-left: -240px;
    }
    .nav-divider, .favorites, .cart {
        display: none;
    }
    .nav-signup-cart button{
        display: none;
    }
    .nav-menu li{
        margin-top: 30px;
    }
}

